{% extends 'layout/base.html' %}
{% load bootstrap3 %}

{% block title %}Добавление фото{% endblock %}

{% block header %}
    <h2>
        Добавление нового фото:
    </h2>
{% endblock header %}


{% block content %}
    <form method="post" action="{% url 'add' %}" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-success">
                Добавить
            </button>
        {% endbuttons %}
    </form>

{% endblock content %}